
body{
    background-color: #f7b617;
    font-family: 'Passion One', cursive;

}
header{
  /*height: 500px;*/
}
#page{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}

img{
    /*margin: 3%;*/
    height: 80%;
    width: 100%;
}

button{
    margin: 3%;
    width: 100%;
    height: 10vh;
    font-size: 2.0vw;
}

button:hover{
    background: #f7b617;
    color: white;
}

footer{
  margin-top:50%;
  border-top: 2px solid grey;
  bottom: 0;
  font-family: 'Courgette', cursive;
}

h2{
    color: #f7b617;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

.container{
    padding-top: 2% !important;
}
